@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

@font-face {
    font-family: 'CustomFont';
    src: url('./century-gothic/CenturyGothic.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.height {
    min-height: 100vh;
}

.height-70 {
    min-height: 70vh;
}

.height-about {
    min-height: 80vh;
}

#more {
    display: none;
}

.read-more {
    color: blue;
    cursor: pointer;
}

.navbar {
    height: 12vh;
}

.navbar ul li a {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    color: #000;
    text-transform: uppercase;
}

.nav-btn {
    background: linear-gradient(to left, #f7e17b, #af7b27);
    border-radius: 50px;
    font-family: 'CustomFont', sans-serif;
    font-weight: 600;
    padding: 7px 50px;
    color: white;
}

.top-bar {
    background: linear-gradient(to left, #f7e17b, #af7b27) !important;
    font-family: 'CustomFont', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
}


.container-fluid {
    width: 90% !important;
    margin: 0 auto;
}


.title h1 {
    font-size: 60px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    width: 100%;
    line-height: 89px;
    margin-top: 30rem;
    text-align: center;
}

.title p {
    font-family: 'CustomFont', sans-serif;
    font-size: 17px;
    color: #000000;
    width: 100%;
}


a {
    text-decoration: none;
}

.btn-hover {
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;


}

.btn-hover:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-6 {
    background: linear-gradient(to left, #f7e17b, #af7b27);
}

#header {
    background: url("./images/ecom-bros-banner-min.JPG") top/cover no-repeat;
    /* height: 100vh; */
    width: 100%;
}

.banner-height {
    height: 100vh;
}

.thumbnail-image {
    height: 600px;
    overflow: hidden;
}

.thumbnail-image:hover img {
    opacity: 0.6;
    transition: opacity 0.3s;
}

/* About */

.heading h2 {
    font-size: 40px;
    color: #000000;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.heading p {
    /* width: 85%; */
    margin: 0 auto;
    font-family: 'CustomFont', sans-serif;
    font-size: 20px;
}

.heading-title {
    font-size: 40px;
    color: #000000;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.main-text {
    font-family: 'CustomFont', sans-serif;
    font-size: 20px;
    color: #000000;
    width: 75%;
    margin: 0 auto;
}

.text {
    font-family: 'CustomFont', sans-serif;
    letter-spacing: 1px;
}

.subtext {
    color: #000000;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

/* faq */
.faq-section {
    font-family: 'CustomFont', sans-serif;
    /* background: linear-gradient(275.12deg, #f5de78 -45.14%, #b5812b 125.17%); */
    background: linear-gradient(to right, #e5c562, #af7b27);
    padding: 60px 0;
    text-align: center;
    background-position: bottom right 0%;
}

.faq-section .faq_left_half_circle {
    position: absolute;
    left: 80px;
}

.faq-section .faq_left_half_circle img {
    position: relative;
    top: 140px;
}

.faq-section h3 {
    color: #fff;
    text-align: center;
    padding-bottom: 50px;
    font-size: 30px;
    margin: 0px;
}

.faq-section .faq-accordions {
    max-width: 760px;
    margin: 0 auto;
}

.faq-section .faq-accordions .accordion-row {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
    cursor: pointer;
}

.faq-section .faq-accordions .accordion-row .title {
    text-align: left;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    position: relative;
    padding-right: 30px;
}

.faq-section .faq-accordions .title:after {
    content: '';
    position: absolute;
    border-left: #fff 2px solid;
    border-bottom: #fff 2px solid;
    right: 10px;
    top: 8px;
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    width: 10px;
    height: 10px;
    z-index: 1;
    transform: rotate(-45deg);
}

.faq-section .faq-accordions .title.open:after {
    transform: rotate(135deg);
    top: 14px;
}

.faq-section .faq-accordions .accordion-row .content {
    text-align: left;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    overflow: hidden;
    height: 0px;
    transition: 0.5s all;
}

.faq-section .faq-accordions .accordion-row .open+.content {
    height: auto;
    overflow: initial;
    padding: 20px 0px;
}

/* slider */


#slider {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;

}

.swiper {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;

}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 230px;
    background: #000;
    box-shadow: 0 15px 50px rbga(0, 0, 0, 0.2);
    filter: blur(4px);
    overflow: hidden;
}

.swiper-slide-active {
    filter: blur(0px);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.swiper:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("images/frame-removebg.png");
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(0.8, 0.7);
    z-index: 10000;
    height: 100%;
    width: 100%;


}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    cursor: pointer;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* bros section */
.screen-height {
    height: 70vh;
}

/* foooter */
footer {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
}

/* Services page styling from here */
.service-pic {
    width: 100%;
}

.description{
    padding-top: 2.5rem;
}

.description h3 {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

.description p {
    font-family: 'CustomFont', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
}

.description ul li {
    font-family: 'CustomFont', sans-serif;
    font-size: 16px;
}

.product-heading {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

.product-list {
    font-family: 'CustomFont', sans-serif;
}

.product-list li {
    padding: 0.5em 0;
}

.fa-solid {
    color: #e5c562;
}

/* tooltip */
.tooltip-inner {
    background-color: #333;
}

.tooltip.bs-tooltip-top .arrow::before {
    border-top-color: #333;
}

/* popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#closePopup {
    margin-top: 10px;
}

.btn-floating:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.frame {
    display: inline-block;
    border: 15px solid #e5c562;
    /* Frame color */
    padding: 12px 0;
}

.framed-image {
    display: block;
    width: 100%;
    height: auto;
}

.about-top {
    margin-top: 5em;
}

.price {
    font-family: 'CustomFont', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.hide-carousel-desktop {
    display: none;
}
.hide-section{
    display: none;
}
/* .frame{
    outline: 10px solid gold;
    outline-offset: -50px;
} */

/* media queries start from here */
@media(max-width: 680px) {
    #header {
        background: url("./images/EcomBros.JPG");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 0 !important;
        margin-top: 0 !important;

    }

    .height-about {
        min-height: 0vh;
    }

    .btn-hover {
        display: flex;
        align-items: center;
    }

    .banner-height {
        height: 70vh;
    }

    .title h1 {
        font-size: 26px;
        line-height: 30px;
        color: white;
        font-family: 'Oswald', sans-serif;
        text-align: center;
        width: 100%;
        margin-top: 15rem;

    }

    .image-screen {
        margin-top: 60px;
    }


    .title p {
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;
    }

    .heading h2 {
        text-align: center;
        font-size: 28px;
        padding-top: 3rem;
    }

    p,
    .subtext {
        text-align: center;
    }

    .faq-section .faq-accordions .accordion-row .title {
        font-size: 18px;

    }

    .accordion-row {
        padding: 0 20px;

    }

    .hide {
        display: none;
    }

    .brand-paragraph {
        margin: 0 auto;
    }

    .icon-footer {
        margin-bottom: 0 !important;
    }

    .service-pic {
        height: 450px;
    }

    .navbar-nav {
        background-color: white;
    }

    .title p {
        font-size: 14px;
    }

    .title h1 {
        padding-top: 1em;
    }


    /* .p-top {
        margin-top: 8rem !important;
    } */
    .d-top {
        margin-top: 0 !important;
    }

    /* 
    #about {
        margin-top: 15rem;
    } */

    .show-res {
        display: none;
    }

    .show-respo {
        display: block !important;
    }

    /* navbar collapse */
    .navbar {
        padding: 10px;

    }

    .navbar-brand,
    .navbar-nav .nav-link {
        margin: 0 10px;
    }

    .navbar-nav .nav-link::after {
        content: ".";
    }

    .navbar-nav .nav-link:last-child::after {
        content: none;
    }

    /* Override default collapsed behavior */
    .navbar-collapse.collapsing,
    .navbar-collapse.show {
        display: flex !important;
        flex-basis: 100%;
        justify-content: center;

    }

    .navbar-nav {
        flex-direction: row !important;
        border: 3px solid gold;
    }

    .navbar-nav .nav-item {
        margin: 0 5px;
    }

    .fs-responsive {
        font-size: 26px !important;
    }

    .paket-top {
        padding-top: 50px;
    }

    .about-top {
        margin-top: 0 !important;
    }

    .thumbnail-image {
        height: 400px;
        overflow: hidden;

    }

    .hide-carousel-desktop {
        display: block !important;
    }
    .description{
        padding-top: 0 !important;
    }
    .hide-section{
        display: block !important;
    }
   .show-section{
    display: none !important;
   }
    
}